/* @font-face{
     font-family: 'Poppins';
    src:url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
} */
#trainDetails{
    position: absolute;
    bottom: 4%;
    left: 2%;
    display: block;
    height: 175px;
    width: 250px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    font-size: 100%;
    /* padding: 10px; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
   
}
#trainNameAndBoxes {
       display: flex;
    flex-direction: column;
    padding: 10px;
}
#trainName{
      text-align: left;
    margin-top: -8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #FFFFFF;
    align-items: left;
    line-height: 30px;
}
#totalBoxes{
       text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    color: white;
    margin-top: -2px;
}
#container{
    padding-top: 10px;
    line-height: 1.6
}
#speed{
      text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    color: white;
      margin-top: -8px;
}
#location{
 text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    color: white;
    margin-top: -1px;
}
#updated{
     text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.5em;
    color: white;
    margin-top: -1px;
} 
.details{
    color:#AFAFAF;
}

#line{
      width: 250px;
    height: 1px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: -8px;
}
#speedandLocation{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: -5px;
}

#boggyLock{
      text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    color: white;
      margin-top: -2px;  
}
#boggyName{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6em;
    color: white;
      /* margin-top: -2px;     */
}
#safeBoggy{
    color:#A9CF54;
}